

body {
    margin: 0;
}

html {
    font-family: cursive;
    }

nav {
    display: flex;
    width: 100%;
    background-color: black;
    justify-content: flex-end;
    align-items: flex-end;
    height: 6.5rem;
    }

ul {
    display: flex;
    list-style: none;
    padding: 0;
    }

ul a {
    margin-right: 2.5rem;
    color:violet;
    text-decoration: none;
    }

#about_section {
    background-color: gray;
    padding: 5rem;
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    }

img {
    width: 300px;
    height: 300px;
    margin-left: 5rem;
    border-radius: 1rem;

    }

    @media (max-width: 700px) {
       img {
        width: 200px;
        height: 200px; 
       }
    }

#skills_section {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    background-color: violet;
    }

#skills_list {
    display: flex;
    flex-direction: column;
    }

li {
    margin: 0.5rem;
    }

#contact_section {
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    }

.fa-facebook-square {
    color: blue;
    }

.fa-github {
    color: black;
    }

.fa-linkedin {
    color: blue;
    }

.fa-twitter {
    color: dodgerblue;
    }

#contact_section a {
    color: black;
    text-decoration: none;
    }      

.fab {
    margin-right: 0.5rem;
    }

#contact_section {
    background-color: #e7decc;
    }

.fa-html5 {
    color: red;
    }

.fa-css3-alt {
    color: royalblue;
    }

.fa-js {
    color: goldenrod;
    }

#skills_section {
    background-image: url(background_image.jpg);
    }

.skill {
    color: violet;
    }

h2 {
    color: goldenrod;
    }

.work {
    color: violet;
    }

.names {
    font-size: xx-large;
}

